{% macro license_string(pkg_dict) %}
  {% set lic_url = pkg_dict.license_url if 'license_url' in pkg_dict else (pkg_dict.license_id if '://' in pkg_dict.license_id else None) %}
  {% if lic_url %}
    <a class="organisation-meta--link" href="{{ lic_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg_dict.license_title }}</span>
  {% endif %}
{% endmacro %}

{% block license %}
  {% if text_only %}
    {% if pkg_dict.license_id %}
      {{ license_string(pkg_dict) }}
    {% elif 'organization' in pkg_dict and pkg_dict['organization']['name'] == 'geopunt' %}
        {# Geopunt specific license logic #}
        {% set metadata_request = h.get_pkg_dict_extra(c.pkg_dict, 'metadata_request', '') %}
        {% if metadata_request and metadata_request.startswith('https://metadata.geopunt.be/zoekdienst') %}
            {% set parse_url_query = h.parse_url_query(metadata_request) %}
            {% if parse_url_query['id'] %}
                {% trans url='https://metadata.geopunt.be/zoekdienst/apps/tabsearch/?uuid='+parse_url_query['id'][0] %}
                    See <a href="{{ url }}">original metadata record</a> (Usage Rights)
                {% endtrans %}

            {% endif %}
        {% endif %}
    {% else %}
        {{ _('No License Provided') }}<br/>
    {% endif %}
  {% else %}
    {% if pkg_dict.license_id %}
      {% block license_wrapper %}
        <section class="module module-narrow module-shallow license">
          {% block license_title %}
            <h2 class="module-heading"><i class="fa fa-medium fa-lock"></i> {{ _('License') }}</h2>
          {% endblock %}
          {% block license_content %}
            <p class="module-content">
              {% block license_content_inner %}
                {{ license_string(pkg_dict) }}
                {% if pkg_dict.isopen %}
                  <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
                      <img class="open-data" src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="[Open Data]" />
                  </a>
                {% endif %}
              {% endblock %}
            </p>
          {% endblock %}
        </section>
      {% endblock %}
    {% endif %}
  {% endif %}
{% endblock %}
